html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
}

a,
p {
  font-size: 2rem;
}
