.header {
  color: grey;
  text-align: left;

}

.specificCountry {
  text-align: center;
  color: rgb(223, 123, 244);
}

.searchButtonByCountry,
.countryNameInput {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
  border-radius: 5px;
}

.countryNameInput {
  width: 29rem;
  border: 1px solid rgb(56, 212, 233);
  padding: 0.5rem;
}

@media only screen and (max-width: 3000px) {
  .form {
    text-align: center;
  }
  .searchButtonByCountry,
  .countryNameInput {
    font-size: 2rem;
  }

  .countryNameInput {
    width: 30rem;
  }
}
