.Container {
  background-color: rgb(39, 39, 39);
  margin-top: 4rem;
  padding: 2.2rem;
}

a {
  text-decoration: none;
  color: rgb(136, 136, 136);
  position: relative;
  top: 0.2rem;
  font-size: 1.1rem;
}

a:hover {
  color: rgb(136, 136, 136);
}

h1 {
  color: snow;
}
