.container {
  background-color: rgb(39, 39, 39);
  margin-top: 4rem;
  padding: 2.2rem;
  text-align: center;
}

a {
  color: rgb(136, 136, 136);
  font-size: 2rem;
  text-decoration: none;
}

a:hover {
  color: rgb(173, 173, 173);
}

h1 {
  color: snow;
}
