.Hero {
  background-image: url("../../Img/Corona.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin: 0px auto;
  width: 100%;
}

.bigHeader {
  color: rgba(207, 48, 48, 0.87);
  font-size: 5rem;
  padding: 20px;
  position: relative;
  text-shadow: 1px 1px 50px rgb(90, 90, 90);
  text-transform: uppercase;
  top: 10%;
}
